#disable_html_escaping()
#* @vtlvariable name="selectedUser" type="com.wikistrat.userselectcf.dto.UserSelectOption" *#
#* @vtlvariable name="userFormatter" type="com.atlassian.jira.plugin.userformat.UserFormatter" *#
#if ($selectedUser)
  <span class="tinylink">$userFormatter.formatUserkey($selectedUser.key, "assignee")</span>
#else
<em>&nbsp;</em>
#end
